//Colors

$dark-gray: #333333;
$dark-blue: #364051;
$off-white: #f7f7f7;
$grey: #666;
$blue: rgb(63, 163, 213);

//Font size

$fs-size: 0.75rem;
$fm-size: 0.9rem;
$fl-size: 1.1rem;

//Spacing

$s-size: 0.75rem;
$m-size: 1rem;
$l-size: 2rem;
$xl-size: 3rem;

//Responsive

$desktop-breakpoint: 45rem;
